
	body {
		padding: 70px 0;
		overflow-y: scroll;
	}
	
	/* RWS Building highlighting */
	ol > li {
		cursor: pointer;
	}
	ol > li.highlight {
		font-weight: bold;
	}
	ol > li.hover {
		background-color: whitesmoke;
	}
	ol > li.highlight.tier0, ol > li.hover.tier0 { color: maroon; }
	ol > li.highlight.tier1, ol > li.hover.tier1 { color: red; }
	ol > li.highlight.tier2, ol > li.hover.tier2 { color: purple; }
	ol > li.highlight.tier3, ol > li.hover.tier3 { color: fuchsia; }
	ol > li.highlight.tier4, ol > li.hover.tier4 { color: green; }
	ol > li.highlight.tier5, ol > li.hover.tier5 { color: lime; }
	ol > li.highlight.tier6, ol > li.hover.tier6 { color: olive; }
	ol > li.highlight.tier7, ol > li.hover.tier7 { color: navy; }
	ol > li.highlight.tier8, ol > li.hover.tier8 { color: blue; }
	ol > li.highlight.tier9, ol > li.hover.tier9 { color: teal; }
	ol > li.highlight.tier10, ol > li.hover.tier10 { color: aqua; }
