<!doctype html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
    integrity='sha384-pdapHxIh7EYuwy6K7iE41uXVxGCXY0sAjBzaElYGJUrzwodck3Lx6IE2lA0rFREo'
    crossorigin='anonymous'></link>
  <link rel='stylesheet' href='../index.css'></link>
  
  <script src='https://code.jquery.com/jquery-2.1.4.min.js'
    integrity='sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC'
    crossorigin='anonymous'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
    integrity='sha384-pPttEvTHTuUJ9L2kCoMnNqCRcaMPMVMsWVO+RLaaaYDmfSP5//dP6eKRusbPcqhZ' 
    crossorigin='anonymous'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/0.2.8/pako.js"
    integrity="sha384-2+IobOaTSbjKqEDmmIZdyBwCBsLf880E4AdS+CXVxRBMrGS01qZi2ZdA69kccuyt"
    crossorigin="anonymous"></script>
  <script src='../lib/vue.js'></script>
  <script>window.Vue || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js" integrity="sha384-oyil/hbn4lE/VRhQytSipUwmWiTbzVK5S3a+wzVrgexPs+UrQ+e4xRatGDd8RNNE" crossorigin="anonymous">\x3C/script>')</script>

  <script src='../lib/savecodec2.js'></script>
  <script src='../lib/util.js'></script>
  <script src='../lib/flavor.js'></script>
  <script src='flavor.js'></script>
  <script src='edit.js'></script>
</head>
<body>
  <nav class='navbar navbar-inverse navbar-fixed-top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#nav-collapsable-content' aria-expanded='false'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='../index.html'>Royal Advisory Board</a>
      </div>
      <div class='collapse navbar-collapse' id='nav-collapsable-content'>
        <ul class='nav navbar-nav'>
          <li><a href='../index.html'>Home</a></li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Realm Grinder <span class='caret'></span></a>    
            <ul class='dropdown-menu'>
              <li><a href='http://www.kongregate.com/games/divinegames/realm-grinder'>Realm Grinder</a></li>
              <li><a href='http://www.divinegames.it/'>Divine Games</a></li>
              <li><a href='http://realm-grinder.wikia.com/wiki/Realm_Grinder_Wikia'>Realm Grinder Wiki</a></li>
            </ul>    
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Useful Tools <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="../rws/index.html">Realm Weather Service</a></li>
              <li><a href="../ocd/index.html">Obsessive Conjurer Disorder</a></li>
              <li><a href="../rs/index.html">Royal Scribe</a></li>
              <li><a href='../arch/index.html'>Lara Crypt</a></li>
              <li><a href='../edit/edit.html'>Save Editor</a></li>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Seasonal Tools <span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li><a href='../mri/index.html'>Meggnetic Resonance Imager</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <big>Warning:</big> keep a backup copy of your save data, <small>just in case...</small>
  <div class='container' id='app'>
    <h2 class='page-header'><span>{{flavor.title}}</span> <small>{{flavor.tagline}}</small></h2>
    <div class='panel panel-primary'>
      <div class='panel-heading'>{{flavor.intro}}</div>
      <div class='panel-body'>
        <div class='input-group panelSaveInput'>
          <label id='saveInputLabel' class='input-group-addon' for='saveInput'>Input Save <a data-toggle='popover' data-trigger='hover' data-placement='bottom' data-content='Export your save from Realm Grinder and paste it in this field to view a variety of stats that are not shown in-game.'>(?)</a></label>
          <input id='saveInput' class='form-control' type='text' name='saveInput' value=''>
          <div class='input-group-btn'>
            <button id='doReEnter' class='btn btn-success' type='button'>Re-Enter save</button>
            <button id='doSaveCopy' class='btn btn-info' type='button'>Copy save</button>
            <button id='doSaveClear' class='btn btn-danger' type='button'>Clear save</button>
          </div>
        </div>
        <div class='input-group'>
          <label class='input-group-addon'> Output Save:</label>
          <input readonly id='saveOutput' class='form-control' v-model='outputsave' onclick='this.select()'></input>
          <div class='input-group-btn'>
            <button id='doGenSave' class='btn btn-success' type='button' @click='genSave'>Generate Save</button>
          </div>
        </div>
      </div>
    </div>
    <ul class='nav nav-pills' role='tablist'>
      <li class='active' role='presentation'>
        <a href='#tab-general' aria-controls='General' role='tab' data-toggle='pill'> General </a>
      </li>
      <li role='presentation'>
        <a href='#tab-production' aria-controls='Production' role='tab' data-toggle='pill'> Production </a>
      </li>
      <li role='presentation'>
        <a href='#tab-goodbuildings' aria-controls='Good Buildings' role='tab' data-toggle='pill'> Good Buildings </a>
      </li>
      <li role='presentation'>
        <a href='#tab-evilbuildings' aria-controls='Evil Buildings' role='tab' data-toggle='pill'> Evil Buildings </a>
      </li>
      <li role='presentation'>
        <a href='#tab-neutralbuildings' aria-controls='Neutral Buildings' role='tab' data-toggle='pill'> Neutral Buildings </a>
      </li>
      <li role='presentation'>
        <a href='#tab-time' aria-controls='Time' role='tab' data-toggle='pill'> Time </a>
      </li>
      <li role='presentation'>
        <a href='#tab-magic' aria-controls='Magic' role='tab' data-toggle='pill'> Magic </a>
      </li>
      <li role='presentation'>
        <a href='#tab-magictime' aria-controls='Magic Time' role='tab' data-toggle='pill'> Magic Time </a>
      </li>
      <li role='presentation'>
        <a href='#tab-autocasting' aria-controls='Autocasting' role='tab' data-toggle='pill'> Autocasting </a>
      </li>
      <li role='presentation'>
        <a href='#tab-fc' aria-controls='Faction Coins' role='tab' data-toggle='pill'> Faction Coins </a>
      </li>
      <li role='presentation'>
        <a href='#tab-fcstats' aria-controls='Faction Coin Stats' role='tab' data-toggle='pill'> Faction Coin Stats </a>
      </li>
      <li role='presentation'>
        <a href='#tab-factions' aria-controls='Factions' role='tab' data-toggle='pill'> Factions </a>
      </li>
      <li role='presentation'>
        <a href='#tab-archeology' aria-controls='Archeology' role='tab' data-toggle='pill'> Archeology </a>
      </li>
      <li role='presentation'>
        <a href='#tab-research' aria-controls='Research' role='tab' data-toggle='pill'> Research </a>
      </li>
      <li role='presentation'>
        <a href='#tab-magic-tiers' aria-controls='Magic Tiers' role='tab' data-toggle='pill'> Magic Tiers </a>
      </li>
      <li role='presentation'>
        <a href='#tab-events' aria-controls='Events' role='tab' data-toggle='pill'> Events </a>
      </li>
      <li role='presentation'>
        <a href='#tab-misc' aria-controls='Misc' role='tab' data-toggle='pill'> Misc </a>
      </li>
      <li role='presentation'>
        <a href='#tab-allupgrades' aria-controls='Test' role='tab' data-toggle='pill'> Test </a>
      </li>
      <li role='presentation'>
        <a href='#tab-alltrophies' aria-controls='Test 2' role='tab' data-toggle='pill'> Test 2</a>
      </li>
    </ul>
    <div class='tab-content'>
      <div role='tabpanel' class='tab-pane fade in active' id='tab-general'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[28]' hide-ab name='Total Abdications'></tr>
            <tr is='widget-field' :field.sync='save.reincarnation' can-edit :colspan='5' name='Reincarnation'></tr>
            <tr is='widget-field' :field.sync='save.ascension' can-edit :colspan='5' name='Ascension'></tr>
            <tr is='widget-field' :field.sync='save.gems' can-edit :colspan='5' name='Gems'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[30]' hide-ab hide-rei hide-prev-reis hide-total name='Gems Gained Last Abdication'></tr>
            <tr is='widget-field' :field.sync='save.coins' can-edit :colspan='5' name='Gold'></tr>
            <tr is='widget-field-dropdown' :field.sync='save.alignment' type='alignment' :colspan='5' name='Alignment'></tr>
            <tr is='widget-field-dropdown' :field.sync='save.faction' type='faction' filter='faction' :colspan='5' name='Faction'></tr>
            <tr is='widget-field-dropdown' :field.sync='save.prestigeFaction' type='faction' filter='prestigeFaction' hide-neutral hide-merc :colspan='5' name='Prestige Faction'></tr>
            <tr is='widget-field-dropdown' :field.sync='save.bFaction' type='faction' filter='bFaction' :colspan='5' name='Bloodline Faction'></tr>
            <tr is='widget-field' :field.sync='offlinetime' can-edit name='Offline time (seconds)'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-production'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[12]' name='Max Buildings'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[4]' name='Clicks'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[87]' hide-ab name='Max Clicks'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[63]' name='Auto Clicks'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[89]' hide-ab name='Max Auto Clicks'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[0]' name='Gold Earned'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[31]' name='Max Gold'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[5]' name='Gold Earned by Clicking'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[25]' name='Gold Earned by Assistants'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[26]' name='Gold Spent'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[96]' name='Max Base Assistants'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-goodbuildings'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-building' :building.sync='save.buildings[23]' name='Warrior Barracks'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[23]' name='Max Warrior Barracks'></tr>
            <tr is='widget-building' :building.sync='save.buildings[15]' name='Knights Jousts'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[15]' name='Max Knights Jousts'></tr>
            <tr is='widget-building' :building.sync='save.buildings[25]' name='Wizard Towers'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[25]' name='Max Wizard Towers'></tr>
            <tr is='widget-building' :building.sync='save.buildings[4]' name='Cathedrals'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[4]' name='Max Cathedrals'></tr>
            <tr is='widget-building' :building.sync='save.buildings[5]' name='Citadels'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[5]' name='Max Citadels'></tr>
            <tr is='widget-building' :building.sync='save.buildings[20]' name='Royal Castles'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[20]' name='Max Royal Castles'></tr>
            <tr is='widget-building' :building.sync='save.buildings[11]' name="Heaven's Gates"></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[11]' name="Max Heaven's Gates"></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-evilbuildings'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-building' :building.sync='save.buildings[21]' name='Slave Pens'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[21]' name='Max Slave Pens'></tr>
            <tr is='widget-building' :building.sync='save.buildings[19]' name='Orcish Arenas'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[19]' name='Max Orcish Arenas'></tr>
            <tr is='widget-building' :building.sync='save.buildings[24]' name='Witch Conclaves'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[24]' name='Max Witch Conclaves'></tr>
            <tr is='widget-building' :building.sync='save.buildings[6]' name='Dark Temples'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[6]' name='Max Dark Temples'></tr>
            <tr is='widget-building' :building.sync='save.buildings[18]' name='Necropolises'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[18]' name='Max Necropolises'></tr>
            <tr is='widget-building' :building.sync='save.buildings[8]' name='Evil Fortresses'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[8]' name='Max Evil Fortresses'></tr>
            <tr is='widget-building' :building.sync='save.buildings[18]' name='Hell Portals'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[18]' name='Max Hell Portals'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-neutralbuildings'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-building' :building.sync='save.buildings[9]' name='Farms'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[9]' name='Max Farms'></tr>
            <tr is='widget-building' :building.sync='save.buildings[13]' name='Inns'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[13]' name='Max Inns'></tr>
            <tr is='widget-building' :building.sync='save.buildings[3]' name='Blacksmiths'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[3]' name='Max Blacksmiths'></tr>
            <tr is='widget-building' :building.sync='save.buildings[7]' name='Deep Mines'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[7]' name='Max Deep Mines'></tr>
            <tr is='widget-building' :building.sync='save.buildings[22]' name='Stone Pillars'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[22]' name='Max Stone Pillars'></tr>
            <tr is='widget-building' :building.sync='save.buildings[1]' name='Alchemist Labs'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[1]' name='Max Alchemist Labs'></tr>
            <tr is='widget-building' :building.sync='save.buildings[17]' name='Monasteries'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[17]' name='Max Monasteries'></tr>
            <tr is='widget-building' :building.sync='save.buildings[16]' name='Labyrinths'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[16]' name='Max Labyrinths'></tr>
            <tr is='widget-building' :building.sync='save.buildings[14]' name='Iron Strongholds'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[14]' name='Max Iron Strongholds'></tr>
            <tr is='widget-building' :building.sync='save.buildings[2]' name='Ancient Pyramids'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[2]' name='Max Ancient Pyramids'></tr>
            <tr is='widget-building' :building.sync='save.buildings[10]' name='Halls of Legends'></tr>
            <tr is='widget-building-max' :building.sync='save.buildings[10]' name='Max Halls of Legends'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[113]' name='Labyrinths Built by Territorial Expanse'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-time'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[1]' name='Playtime'></tr>
            <tr is='widget-field' :field.sync='save.stats[29].statsReset' can-edit :colspan='5' name='Playtime Last Game'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[39]' hide-ab name='Max Playtime'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[2]' name='Good Playtime'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[3]' name='Evil Playtime'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[45]' name='Offline Playtime'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[46]' name='Max Offline Playtime'></tr>
            <tr is='widget-field' :field.sync='save.cTimer' can-edit :colspan='5' name='Time Since Last Mouse Click (ticks, 30/seconds)'></tr>
            <tr is='widget-field' :field.sync='save.kcTimer' can-edit :colspan='5' name='Time Since Last Keypress (ticks)'></tr>
            <tr is='widget-field' :field.sync='save.mTimer' can-edit :colspan='5' name='Time Since Last Mouse Motion (ticks)'></tr>
            <tr is='widget-field' :field.sync='save.sTimer' can-edit :colspan='5' name='Time for Angel Bloodline (ticks)'></tr>
            <tr is='widget-field' :field.sync='save.oTimer' can-edit :colspan='5' name='Scry Production Timer (max 14400)'></tr>
            <tr is='widget-field' :field.sync='save.oTimer2' can-edit :colspan='5' name='Scry Mana Timer (max 600)'></tr>
            <tr is='widget-field' :field.sync='save.oTimer3' can-edit :colspan='5' name='Scry Event Timer (max 14400)'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-magic'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-field' :field.sync='save.mana' can-edit :colspan='5' name='Mana'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[16]' name='Mana Produced'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[27]' name='Mana Spent'></tr>
            <tr is='widget-field' :field.sync='save.contingencyValue' can-edit :colspan='5' name='Contingency Percentage (0-100)'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[15]' name='Spells Cast'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[40]' name='Max Spells Cast'></tr>
            <tr is='widget-spell' :spell.sync='save.spells[i.id]' :name='i.name + " Cast"' v-for='i in spells'></tr>
            <tr is='widget-spell-rng' :spell.sync='save.spells[i.id]' :name='i.name + " RNG State"' v-for='i in spells'></tr>
            <tr is='widget-field-dropdown' :field.sync='save.strikeTier' type='bTiers' :colspan='5' name='Lightning Strike Tier'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[37]' name='Lightning Strike Casts (alt)'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[64]' hide-prev-abs hide-rei hide-prev-reis hide-total name='Consecutive Goblins Greed Casts'></tr>
            <tr is='widget-field' :field.sync='save.comboStrikeCont' can-edit :colspan='5' name='Combo Strike Streak'></tr>
            <tr v-show='save.alignment == null' is='widget-field-dropdown' :field.sync='save.mercSpell1' type='spells' filter='goodmercspells' :colspan='5' name='Mercenary Spell 1'></tr>
            <tr v-show='save.alignment == null' is='widget-field-dropdown' :field.sync='save.mercSpell2' type='spells' filter='goodmercspells' :colspan='5' name='Mercenary Spell 2'></tr>
            <tr v-show='save.alignment == 1' is='widget-field-dropdown' :field.sync='save.mercSpell1' type='spells' filter='goodmercspells' :colspan='5' name='Mercenary Spell 1'></tr>
            <tr v-show='save.alignment == 1' is='widget-field-dropdown' :field.sync='save.mercSpell2' type='spells' filter='goodmercspells' :colspan='5' name='Mercenary Spell 2'></tr>
            <tr v-show='save.alignment == 2' is='widget-field-dropdown' :field.sync='save.mercSpell1' type='spells' filter='evilmercspells' :colspan='5' name='Mercenary Spell 1'></tr>
            <tr v-show='save.alignment == 2' is='widget-field-dropdown' :field.sync='save.mercSpell2' type='spells' filter='evilmercspells' :colspan='5' name='Mercenary Spell 2'></tr>
            <tr v-show='save.alignment == 3' is='widget-field-dropdown' :field.sync='save.mercSpell1' type='spells' filter='neutralmercspells' :colspan='5' name='Mercenary Spell 1'></tr>
            <tr v-show='save.alignment == 3' is='widget-field-dropdown' :field.sync='save.mercSpell2' type='spells' filter='neutralmercspells' :colspan='5' name='Mercenary Spell 2'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[65]' name='Casts of Pay Upkeep (unused)'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-magictime'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[97]' name='Active Spell Time'></tr>
            <tr is='widget-spell-time' :spell.sync='save.spells[i.id]' :name='i.name + " Time"' v-for='i in spells'></tr>
            <tr is='widget-spell-duration' :spell.sync='save.spells[i.id]' :name='i.name + " Remaining Duration"' v-for='i in spells'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-autocasting'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-onestat-header'></tr>
            <tr is='widget-spell-autocasting' :spell.sync='save.spells[i.id]' :name='i.name' v-for='i in spells'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-fc'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-factioncoin-header'></tr>
            <tr is='widget-factioncoin' :fc.sync='save.factionCoins[i.id]' :name='i.name' v-for='i in factions | filterDef "fc"'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-fcstats'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[24]' name='Exchanges Made'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[78]' name='Max Faction Coins'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[47]' name='Diamond Pickaxe FC'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[48]' name='Honor Among Killers FC'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[112]' name='Lightning Strike FC'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[i.fcstat]' :name='i.name + " Coins Gained"' v-for='i in factions | filterDef "fc"'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[i.fcmaxstat]' :name='"Max " + i.name + " Coins Gained"' v-for='i in factions | filterDef "fc"'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-factions'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[i.timestat]' :name='i.name + " Playtime"' v-for='i in factions | filterDef "timestat"'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[i.affilstat]' :name='i.name + " Affiliations"' v-for='i in factions | filterDef "affilstat"'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[38]' hide-ab hide-prev-reis hide-total name='Consecutive Faceless Affiliations'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[99]' hide-ab hide-prev-reis hide-total name='Consecutive Angel Affiliations'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[100]' hide-ab hide-prev-reis hide-total name='Consecutive Demon Affiliations'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[i.upgstat]' :name='i.name + " Upgrades Bought"' v-for='i in factions | filterDef "upgstat"'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[13]' name='Max Upgrades Bought'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[101]' hide-ab name='Consecutive Elven Luck Triggers'></tr>
            <tr is='widget-field' :field.sync='save.goblinTimer' can-edit :colspan='5' name='Time Until Green Fingers Discount'></tr>
            <tr is='widget-field' :field.sync='save.wealthStormTimer' can-edit :colspan='5' name='Time Until Storm of Wealth'></tr>
            <tr is='widget-field' :field.sync='save.chargedTimer' can-edit :colspan='5' name='Titan Charged Effects Timer'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-archeology'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-field' :field.sync='save.artifactRngState' can-edit :colspan='5' name='Artifact RNG State (best value: 1407677000)'></tr>
            <tr is='widget-field' :field.sync='save.excavations' can-edit :colspan='5' name='Current Excavations'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[35]' name='Excavations'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[36]' name='Excavation Reports?'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[98]' name='Max Excavations'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[104]' name='Excavation Resets'></tr>
            <tr is='widget-field' :field.sync='save.rubies' can-edit :colspan='5' name='Rubies'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[102]' name='Rubies Found'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[103]' name='Rubies Purchased'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[122]' name='Ruby Resets'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[105]' name='Ruby Assistant Upgrades'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[106]' name='Ruby Mana Regen Upgrades'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[107]' name='Ruby Max Mana Upgrades'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[108]' name='Ruby Gem Bonus Upgrades'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[109]' name='Ruby Royal Exchange Upgrades'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-research'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[90]' name='Spellcraft Level'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[91]' name='Craftsmanship Level'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[92]' name='Divine Level'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[93]' name='Economics Level'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[94]' name='Alchemy Level'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[95]' name='Warfare Level'></tr>
            <tr is='widget-field-dropdown' :field.sync='save.miracleTier' type='bTiers' :colspan='5' name='Current Miracle Tier Target'></tr>
            <tr is='widget-field' :field.sync='save.miracleTimer' can-edit :colspan='5' name='Miracle Effect Timer'></tr>
         </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-magic-tiers'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-onestat-header'></tr>
            <tr is='widget-spell-tiers' :spell.sync='save.spells[i.id]' :name='i.name' v-for='i in spells'></tr>
         </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-events'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-field' :field.sync='save.ctaFactionCasts' can-edit :colspan='5' name='Valentines Call to Love, cast by Factions (bit array)'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[114]' name='Heart Assistant Upgrades'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[115]' name='Heart Mana Regen Upgrades'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[116]' name='Heart Max Mana Upgrades'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[117]' name='Heart Gem Bonus Upgrades'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[118]' name='Heart Royal Exchange Upgrades'></tr>
			<tr is='widget-field' :field.sync='save.eventResources[2].res' can-edit :colspan='5' name='Hearts'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[119]' name='Hearts Found'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[120]' name='Call to Love Casts'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[121]' name='Offline Time During Valentines'></tr>
            <tr is='widget-field' :field.sync='save.eggRngState' can-edit :colspan='5' name='Easter Egg RNG State (best value: 873457390)'></tr>
            <tr is='widget-field' :field.sync='save.eggStackSize' can-edit :colspan='5' name='Easter Egg Stack Size'></tr>
			<tr is='widget-field' :field.sync='save.eventResources[4].res' can-edit :colspan='5' name='Common Eggs'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[123]' name='Common Eggs Collected'></tr>
			<tr is='widget-field' :field.sync='save.eventResources[5].res' can-edit :colspan='5' name='Rare Eggs'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[124]' name='Rare Eggs Collected'></tr>
			<tr is='widget-field' :field.sync='save.eventResources[7].res' can-edit :colspan='5' name='April Fools Minutes'></tr>
			<tr is='widget-field' :field.sync='save.eventResources[0].res' can-edit :colspan='5' name='Snowballs'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[110]' name='Snowballs Found'></tr>
            <tr is='widget-field' :field.sync='save.snowballScryUses' can-edit :colspan='5' name='Snowball Scry Uses'></tr>
            <tr is='widget-field' :field.sync='save.snowballSize' can-edit :colspan='5' name='Current Snowball Size'></tr>
            <tr is='widget-field' :field.sync='save.lastGiftDate' can-edit :colspan='5' name='Last Gift Date'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[111]' name='Christmas Gifts Found'></tr>
			<tr is='widget-field' :field.sync='save.eventResources[1].res' can-edit :colspan='5' name='Unused Field'></tr>
			<tr is='widget-field' :field.sync='save.eventResources[3].res' can-edit :colspan='5' name='Unused Field'></tr>
			<tr is='widget-field' :field.sync='save.eventResources[6].res' can-edit :colspan='5' name='Unused Field'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-misc'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[23]' name='Assistant Squishes'></tr>
            <tr is='widget-stat-max' :stat.sync='save.stats[88]' hide-ab name='Max Assistant Squishes'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[125]' name='Hint Button Clicks'></tr>
            <tr is='widget-stat' :stat.sync='save.stats[14]' name='Trophy Counter (Defunct)'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-allupgrades'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-upgrade-header'></tr>
			<tr is='widget-upgrade' :upgrades.sync='upgradesArray' id=2 name='Archeology'></tr>
			<tr is='widget-upgrade' :upgrades.sync='upgradesArray' id=7 name='Fragment of a Titan Statue'></tr>
			<tr is='widget-upgrade' :upgrades.sync='upgradesArray' id=4 name='Druidic Runestone'></tr>
			<tr is='widget-upgrade' :upgrades.sync='upgradesArray' id=6 name='Octopus Shaped Spine'></tr>
			<tr is='widget-upgrade' :upgrades.sync='upgradesArray' id=8 name='Passage to the Underworld'></tr>
			<tr is='widget-upgrade' :upgrades.sync='upgradesArray' id=5 name="Sturdy Bearded Man's Quest"></tr>
			<tr is='widget-upgrade' :upgrades.sync='upgradesArray' id=3 name="Cloaked Shady Figure's Quest"></tr>
			<tr is='widget-upgrade' :upgrades.sync='upgradesArray' id=13 name="Bloodline"></tr>
			<tr is='widget-upgrade' :upgrades.sync='upgradesArray' id=12 name="Automatic Casting"></tr>
			<tr is='widget-upgrade' :upgrades.sync='upgradesArray' id=18 name="Contingency Autocasting"></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-alltrophies'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-trophy-header'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=4 name='Archeology Expedition'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=6 name='Archeology Titan Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=2 name='Archeology Druid Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=5 name='Archeology Faceless Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=7 name='Archeology Underworld Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=3 name='Archeology Dwarf Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=1 name='Archeology Drow Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=8 name='Automatic Casting'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=9 name='Improved Autocasting'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=10 name='Masterful Autocasting'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=11 name='Priority Autocasting'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=12 name='Contingency Autocasting'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=13 name='Planned Autocasting'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=42 name='Clouded'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=43 name='Drow Invitation Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=44 name='Dwarven Invitation Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=55 name='Mercenary Oath'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=53 name='Mercenary Oath Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=56 name='Research Angel Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=57 name='Research Demon Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=58 name='Research Elven Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=59 name='Research Fairy Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=60 name='Research Goblin Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=61 name='Research Undead Trophy'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=62 name='Assistant Squasher'></tr>
			<!--<tr is='widget-trophy' :trophies.sync='trophiesArray' id= name=''></tr>-->
            <tr is='widget-trophy-dropdown' :trophies.sync='trophiesArray' type='trophyIDs' filter='rubyTrophies':colspan='5' name='Ruby Trophies'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=116200 name='1 Rubies'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=116201 name='10 Rubies'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=116202 name='25 Rubies'></tr>
			<tr is='widget-trophy' :trophies.sync='trophiesArray' id=116203 name='50 Rubies'></tr>
          </table>
        </div>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='tab-butts'>
        <div class='panel panel-default'>
          <table class='table'>
            <tr is='widget-fivestat-header'></tr>
          </table>
        </div>
      </div>
    </div>
  <small>Link to <a href=index.html>old versions</a></small>
  </div>
</body>
</html>
